@model IEnumerable<QLBook.Models.Category>
<div class="row">
    <ul class="list-group">
        <li class="list-group active" aria-current="true">Danh sách</li>
    @foreach (var item in Model)
    {

            <a asp-controller="books" asp-action="index" asp-route-id="@item.CategoryId">
            <li class="list-group-item">@item.CategoryName</li>
            </a>

    }

    </ul>
</div>